.container {
    margin-bottom: 100px;
}

.orange-bg {
    background-color: #FEEAE9;
    border-radius: 23px;
}

.carousel-item {
    padding: 40px;
}

.carousel-item .col-7 {
    padding: 100px;
}

.price {
    color: #FF136F;
}

.buy_now_btn,
.subscribe_btn {
    background-image: linear-gradient( to bottom, #d65888 0%, #FF589B 100%);
    color: #fff;
    border: none;
    border-radius: 9px;
    padding: 9px 25px;
    cursor: pointer;
}

.categories h1 {
    color: #fff;
}

.categories img {
    width: 100px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 15px;
}

.cat1 {
    background-image: linear-gradient(to left, #c08f34 0%, #ffbc3e 100%);
}

.cat2 {
    background-image: linear-gradient(to left, #a824a4 0%, #f373ef 100%);
}

.cat3 {
    background-image: linear-gradient(to left, #0000b1 0%, #5a5afd 100%);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
    background-color: white;
    border: none;
}

#subscribe {
    height: 300px;
}

#subscribe h6 {
    color: gray;
}

footer {
    text-align: center;
}